$color-hover: #d6002f;
$color-coral: #ff6036;
$color-brand-pink: #ff4458;
$color-hot-pink: #fd267a;
$color-divider-primary: #d4d8de;
$color-text-primary: #3c444f;
$color-text-secondary: #656e7b;

.ant-tabs {
	.ant-tabs-nav {
		padding: 12px 20px;
		margin-bottom: 0;

		.ant-tabs-tab {
			padding: 1px 8px;
			font-weight: 700;
		}

		.ant-tabs-tab:hover,
		.ant-tabs-tab-btn:focus,
		.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
			color: $color-brand-pink;
		}

		.ant-tabs-tab + .ant-tabs-tab {
			margin-left: 16px;
		}

		.ant-tabs-ink-bar {
			background-color: $color-brand-pink;
		}
	}

	.ant-tabs-tabpane {
		display: block !important;
		position: relative;
		transition: all 0.2s;

		.nav__message:first-child.nav__message--active,
		.nav__message:first-child:hover {
			box-shadow: 0 5px 15px -5px hsl(0deg 0% 51% / 22%);
		}

		.nav__message--active,
		.nav__message:hover {
			margin-right: 0;
			border-right-width: 5px;
			border-right-style: solid;
			border-right-color: $color-brand-pink;
			box-shadow: 0 0 15px 0 hsl(0deg 0% 51% / 22%);
		}
	}

	.ant-tabs-tabpane:first-child {
		right: 100%;
		padding: 4px 16px 12px;

		.ant-col {
			padding: 8px 0;

			.ant-card {
				height: 120px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-flow: column;
				justify-content: flex-end;
				border-radius: 4px;
				transition: all 0.2s;

				.ant-card-body {
					padding: 0 0 4px 4px;
				}
			}

			.ant-card-hoverable:hover {
				box-shadow: none;
				transform: scale(1.1);
			}
		}
	}

	.ant-tabs-tabpane:nth-child(2) {
		right: 0;
	}

	.ant-tabs-tabpane:first-child.ant-tabs-tabpane-active {
		right: 0;
	}

	.ant-tabs-tabpane:nth-child(2).ant-tabs-tabpane-active {
		right: 100%;
	}

	.ant-tabs-tabpane.nav__tab-pane2--active {
		background-color: #f8fbfb;
		box-shadow: inset 0 0 25px 0 rgb(0 0 0 / 9%);
	}
}

.nav__profile {
	.ant-slider {
		width: 100%;
		cursor: default;
		margin-top: 0;
		margin-bottom: 24px;

		.ant-slider-track {
			background-color: $color-brand-pink;
		}

		.ant-slider-handle {
			cursor: grab;
			width: 28px;
			height: 28px;
			margin-top: -12px;
			border-color: $color-brand-pink;
		}
	}

	.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
		border-color: $color-brand-pink;
	}

	.ant-switch {
		width: 50px;
		height: 30px;

		.ant-switch-handle {
			width: 26px;
			height: 26px;
			transition-duration: 0.1s;
		}

		.ant-switch-handle::before {
			border-radius: 50%;
		}
	}

	.ant-switch-checked {
		background-color: $color-brand-pink;

		.ant-switch-handle {
			left: calc(100% - 26px - 2px);
		}
	}
}

.nav__left-enter {
	left: -100%;
}

.nav__left-enter-active {
	left: 0;
	transition: left 0.5s;
}

.nav__left-exit {
	left: 0;
}

.nav__left-exit-active {
	left: -100%;
	transition: all 0.3s;
}

.nav__right-enter {
	right: 100%;
}

.nav__right-enter-active {
	right: 0;
	transition: right 0.5s;
}

.nav__right-exit {
	right: 0;
}

.nav__right-exit-active {
	right: 100%;
	transition: all 0.3s;
}
