:root {
	--theme-dark: 0;
	--color-white: #fff;
	--color-black: #000;
	--color-gray-10: #f0f2f4;
	--color-gray-15: #e9ebee;
	--color-gray-20: #d4d8de;
	--color-gray-30: #b9bfc8;
	--color-gray-40: #939ba7;
	--color-gray-50: #7c8591;
	--color-gray-60: #656e7b;
	--color-gray-70: #505965;
	--color-gray-80: #3c444f;
	--color-gray-90: #21262e;
	--color-gray-95: #111418;
	--color-red-10: #ffeaea;
	--color-red-15: #ffdfdf;
	--color-red-20: #ffd4d3;
	--color-red-30: #ffaaa7;
	--color-red-40: #fa6f68;
	--color-red-50: #f13b2d;
	--color-red-60: #c62c1e;
	--color-red-70: #9b1f11;
	--color-red-80: #701408;
	--color-red-90: #450b03;
	--color-red-95: #2f0701;
	--color-yellow-orange-10: #fff8a1;
	--color-yellow-orange-15: #ffdd6b;
	--color-yellow-orange-20: #fecd51;
	--color-yellow-orange-30: #f8a81f;
	--color-yellow-orange-40: #f59307;
	--color-yellow-orange-50: #cd7105;
	--color-yellow-orange-60: #a55303;
	--color-yellow-orange-70: #7d3902;
	--color-yellow-orange-80: #692d01;
	--color-yellow-orange-90: #411900;
	--color-yellow-orange-95: #2d1000;
	--color-gold-10: #fff2bf;
	--color-gold-15: #ffe8a5;
	--color-gold-20: #f7d472;
	--color-gold-30: #e6af16;
	--color-gold-40: #c1920f;
	--color-gold-50: #ae830c;
	--color-gold-60: #896707;
	--color-gold-70: #644a03;
	--color-gold-80: #513c02;
	--color-gold-90: #2c2000;
	--color-gold-95: #191300;
	--color-green-10: #c8ffd1;
	--color-green-15: #7cfda3;
	--color-green-20: #2df187;
	--color-green-30: #21d07c;
	--color-green-40: #17af70;
	--color-green-50: #129e68;
	--color-green-60: #0b7d58;
	--color-green-70: #055c45;
	--color-green-80: #034b3b;
	--color-green-90: #012a23;
	--color-green-95: #001916;
	--color-teal-10: #b2fff7;
	--color-teal-15: #74fef2;
	--color-teal-20: #30f3ef;
	--color-teal-30: #26d1d2;
	--color-teal-40: #1dacb0;
	--color-teal-50: #199a9f;
	--color-teal-60: #12777e;
	--color-teal-70: #0c565c;
	--color-teal-80: #09454c;
	--color-teal-90: #05262a;
	--color-teal-95: #031619;
	--color-blue-10: #e3f4ff;
	--color-blue-15: #d5eeff;
	--color-blue-20: #abd9ff;
	--color-blue-30: #78bdff;
	--color-blue-40: #47a1ff;
	--color-blue-50: #1786ff;
	--color-blue-60: #106bd5;
	--color-blue-70: #0a53ac;
	--color-blue-80: #053c82;
	--color-blue-90: #022658;
	--color-blue-95: #00132e;
	--color-purple-10: #f9e8ff;
	--color-purple-15: #f6dcff;
	--color-purple-20: #f2d0ff;
	--color-purple-30: #dea4ff;
	--color-purple-40: #cc7afb;
	--color-purple-50: #ba52f5;
	--color-purple-60: #9908e8;
	--color-purple-70: #7b05ba;
	--color-purple-80: #5d038c;
	--color-purple-90: #3f015e;
	--color-purple-95: #200030;
	--color-fuchsia-10: #ffe2ff;
	--color-fuchsia-15: #ffd4ff;
	--color-fuchsia-20: #ffc5ff;
	--color-fuchsia-30: #fa93fb;
	--color-fuchsia-40: #ed4ee7;
	--color-fuchsia-50: #e010cd;
	--color-fuchsia-60: #b80ba5;
	--color-fuchsia-70: #91067e;
	--color-fuchsia-80: #690359;
	--color-fuchsia-90: #410136;
	--color-fuchsia-95: #2d0025;
	--color-brand-hot-pink: #fd267a;
	--color-brand-coral: #ff6036;
	--color-brand-primary: #ff4458;
	--color-brand-primary-a11y: #d6002f;
	--color-brand-pink: #ff4458;
	--color-brand-pink-a11y: #d6002f;
	--color-accent-primary: #ff4458;
	--color-background-primary: #fff;
	--color-background-secondary: #f0f2f4;
	--color-background-tertiary: #e9ebee;
	--color-background-brand: #ff4458;
	--color-background-error: #c62c1e;
	--color-background-modal: #fff;
	--color-divider-primary: #d4d8de;
	--color-border-primary: #7c8591;
	--color-border-secondary: #b9bfc8;
	--color-border-brand: #ff4458;
	--color-border-overlay: #fff;
	--color-border-focus: #21262e;
	--color-text-primary: #21262e;
	--color-text-primary-inverse: #fff;
	--color-text-secondary: #505965;
	--color-text-inactive: #656e7b;
	--color-text-brand-normal: #d6002f;
	--color-text-brand-large: #ff4458;
	--color-text-boost: #9908e8;
	--color-text-gold: #896707;
	--color-text-super-like: #106bd5;
	--color-text-super-boost: #9908e8;
	--color-text-overlay: #fff;
	--color-text-link: #106bd5;
	--color-text-success: #0b7d58;
	--color-text-error: #c62c1e;
	--color-icon-primary: #e9ebee;
	--color-icon-secondary: #656e7b;
	--color-icon-overlay: #fff;
	--color-icon-brand: #ff4458;
	--color-icon-trust: #1786ff;
	--color-text-datepicker-active: #21262e;
	--color-text-datepicker-inactive: #656e7b;
	--color-background-datepicker-selected: #f0f2f4;
	--color-background-button-primary-small: #d6002f;
	--color-background-button-primary-inverse: #fff;
	--color-foreground-button-primary: #fff;
	--color-foreground-button-primary-inverse: #ff4458;
	--color-foreground-button-primary-small-inverse: #d6002f;
	--color-overlay-button-primary: rgba(17, 20, 24, 0.16);
	--color-border-button-secondary: #7c8591;
	--color-border-button-secondary-inverse: #fff;
	--color-foreground-button-secondary: #505965;
	--color-foreground-button-secondary-inverse: #fff;
	--color-overlay-button-secondary: rgba(17, 20, 24, 0.08);
	--color-foreground-button-tertiary: #656e7b;
	--color-foreground-button-tertiary-inverse: #fff;
	--color-overlay-button-tertiary: rgba(17, 20, 24, 0.08);
	--color-foreground-button-disabled: #7c8591;
	--color-background-button-disabled: #e9ebee;
	--color-border-button-disabled: #e9ebee;
	--color-icon-navigation-secondary-start: #656e7b;
	--color-icon-navigation-secondary-end: #1786ff;
	--color-icon-navigation-secondary-disabled: #b9bfc8;
	--gradient-brand: linear-gradient(45deg, #fd267a, #ff6036);
	--gradient-rewind: linear-gradient(45deg, #f8a81f, #ffdd6b);
	--gradient-nope: linear-gradient(45deg, #fd267a, #ff6036);
	--gradient-super-like: linear-gradient(45deg, #47a1ff, #30f3ef);
	--gradient-like: linear-gradient(45deg, #21d07c, #30f3ef);
	--gradient-boost: linear-gradient(45deg, #9908e8, #cc7afb);
	--gradient-super-boost: linear-gradient(45deg, #ba52f5, #dea4ff);
	--gradient-super-boost-inverse: linear-gradient(45deg, #ba52f5, #dea4ff);
	--gradient-plus: linear-gradient(45deg, #fd267a, #ff6036);
	--gradient-gold: linear-gradient(45deg, #e6af16, #f7d472);
	--gradient-gold-shine: linear-gradient(45deg, #e6af16, #f7d472, #e6af16);
	--gradient-gold-shine-inverse: linear-gradient(45deg, #e6af16, #f7d472, #e6af16);
	--gradient-platinum: linear-gradient(45deg, #111418, #656e7b);
	--gradient-platinum-shine: linear-gradient(45deg, #111418, #656e7b, #111418);
	--gradient-platinum-shine-inverse: linear-gradient(45deg, #b9bfc8, #e9ebee, #b9bfc8);
	--gradient-background-button-primary: linear-gradient(45deg, #fd267a, #ff6036);
}
