$color-hover: #d6002f;
$color-coral: #ff6036;
$color-hot-pink: #fd267a;
$color-divider-primary: #d4d8de;
$color-text-primary: #3c444f;
$color-text-secondary: #656e7b;

.home-page {
	width: 100%;
	overflow: hidden;

	.home-page__bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: linear-gradient(180deg, #000 0, transparent 180px);

		& > div {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.home-page__bg1 {
			background-image: url('../../../resources/img/homepage/bg.webp');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			transform: scale(1.1);
		}

		.home-page__bg2 {
			background-color: rgba(0, 0, 0, 0.4);
		}

		.home-page__bg3 {
			background: linear-gradient(180deg, #000 0, transparent 180px);
		}
	}

	.home-page__main {
		height: 100vh;
		width: 100%;

		.home-page__header {
			position: sticky;
			top: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
			z-index: 1;

			span {
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				vertical-align: middle;
			}

			li:hover > span {
				color: $color-hover;
			}

			span:hover {
				cursor: pointer;
			}

			& > div:first-child {
				display: flex;
				align-items: center;
				margin-left: 28px;
				margin-right: 28px;

				& > span:first-child:hover {
					color: inherit;
					text-decoration: none;
				}

				.home-page__header__nav {
					display: inline-block;
					padding-left: 40px;

					& > ul {
						display: flex;
						align-items: center;
						margin: 16px 0;

						.home-page__header__nav__item {
							height: 52px;
							position: relative;
							display: flex;
							align-items: center;

							& > span {
								margin-right: 40px;
							}

							&:hover > span {
								text-decoration: underline;
							}

							&:hover > .home-page__header__nav-list {
								display: flex;
							}

							.home-page__header__nav-list {
								display: none;
								position: absolute;
								width: max-content;
								top: 80%;
								left: 0;
								flex-flow: column;
								align-items: flex-start;

								& > ul {
									padding-left: 35px;
									display: flex;
									flex-flow: column;
									align-items: flex-start;
								}

								.home-page__header__nav-list__item {
									padding: 3px 0;

									span {
										display: block;
										font-weight: 600;
									}
								}
							}
						}
					}
				}
			}

			& > div:last-child {
				display: flex;
				align-items: center;

				.home-page__header__lang {
					background-color: transparent;
					text-transform: uppercase;
					color: #fff;
					padding: 0 12px;
					font-size: 15px;
					line-height: 1.5;
					padding: 0 12px;
					display: flex;
					align-items: center;

					svg {
						margin-right: 8px;
					}
				}

				.home-page__header__lang:hover {
					text-decoration: none;
					color: $color-hover;
				}

				.home-page__header__login {
					padding: 0 28px;

					button {
						width: 104px;
						outline: none;
						border: none;
						background-color: #fff;
						color: $color-hover;
						padding: 0 24px;
						border-radius: 3px;
						font-size: 17px;
						font-weight: 600;
						line-height: 2.2;
						letter-spacing: 1px;
					}
				}
			}
		}

		.home-page__content {
			position: relative;
			width: 100%;
			height: calc(100% - 84px);
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			color: #fff;

			div:first-child {
				font-size: 110px;
				font-weight: 600;
			}

			button {
				text-transform: uppercase;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
				padding: 17px 50px;
				border-radius: 30px;
				background: linear-gradient(to right, $color-hot-pink, $color-coral);
			}

			div:last-child {
				position: absolute;
				font-size: 12px;
				right: 20px;
				bottom: 10px;
			}
		}
	}

	.home-page__slider {
		padding-top: 20px;
		padding-bottom: 16px;
		background-color: #fff;

		.home-page__slider__container {
			max-width: 90%;
			margin: auto;

			.slick-track {
				display: flex;

				.slick-slide {
					padding: 0 8px;
					height: unset;

					& > div {
						height: 100%;
						.home-page__slider__item {
							width: 100%;
							height: 100%;
							padding: 24px;
							position: relative;
							box-shadow: 0 2px 6px 0 rgb(101 110 123 / 14%);
							border: 1px solid $color-divider-primary;
							border-radius: 8px;

							span {
								position: absolute;
								top: 0;
								right: 0;
								height: 50%;
								font-size: 180px;
								margin-right: 8px;
								color: $color-divider-primary;
								line-height: 1;
							}

							.home-page__slider__item__title {
								font-size: 16px;
								font-weight: 600;
								color: $color-text-primary;
								margin-bottom: 8px;
							}

							hr {
								width: 75%;
								color: $color-text-secondary;
							}

							.home-page__slider__item__content {
								margin: 12px 0;
								border-color: $color-text-secondary;
								white-space: pre-wrap;
								color: $color-text-secondary;
							}
						}
					}
				}
			}
		}
	}

	.home-page__footer {
		background-color: #fff;

		.home-page__footer__container {
			max-width: 90%;
			margin: auto;
			padding: 20px;

			.home-page__footer__info1 {
				height: 166px;
				margin: 12px 0;
				display: flex;
				align-items: center;
				color: $color-text-primary;
				border-bottom: 1px solid $color-divider-primary;

				& > div {
					height: 100%;
					width: 20%;
					margin-bottom: 8px;
					padding-right: 12px;

					h3 {
						color: $color-text-primary;
						font-weight: 600;
						margin-bottom: 12px;
						font-size: 20px;
					}

					ul {
						li {
							height: 32px;

							span {
								font-size: 14px;
							}

							span:hover,
							svg:hover {
								cursor: pointer;
								color: $color-hover;
							}

							svg {
								font-size: 28px;
							}
						}
					}
				}

				& > div:nth-child(3) {
					ul {
						li {
							width: 42px;
							height: 42px;
							display: inline-block;
						}
					}
				}
			}

			.home-page__footer__app {
				margin: 16px 0;
				text-transform: uppercase;
				display: flex;
				align-items: center;

				h3 {
					margin: 0 12px 5px 0;
					font-size: 20px;
					font-weight: 600;
				}

				div {
					display: flex;
					align-items: center;
					justify-content: center;

					a:first-child {
						padding: 16px;
						margin-right: 16px;

						img {
							object-fit: contain;
							height: 48px;
						}
					}

					a:last-child {
						margin-right: 8px;

						img {
							object-fit: contain;
							height: 80px;
							width: 182.5px;
						}
					}
				}
			}

			.home-page__footer__des {
				p {
					color: $color-text-secondary;
					margin-bottom: 12px;
					font-size: 12px;
				}
			}

			.home-page__footer__info2 {
				padding: 16px 0;
				border-top: 1px solid $color-divider-primary;
				color: $color-text-secondary;
				display: flex;
				justify-content: space-between;
				align-items: center;

				div {
					margin: 8px 0;
					font-size: 12px;

					span:nth-child(even) {
						margin: 0 8px;
					}

					span:nth-child(odd):hover {
						cursor: pointer;
						color: $color-hover;
					}
				}
			}
		}
	}
}

.ant-modal-mask {
	background-color: rgba(0, 0, 0, 0.7);
}

.ant-modal {
	text-align: center;
	top: 0;
	padding-bottom: 0;

	.ant-modal-close {
		cursor: default;
		color: $color-divider-primary;

		svg {
			width: 30px;
			height: 30px;
			cursor: pointer;
			transition: transform 0.1s ease-in;
		}

		svg:hover {
			transform: rotate(-90deg);
		}
	}

	.ant-modal-close:hover {
		color: $color-divider-primary;
	}

	.ant-modal-content {
		width: 440px;
		margin: auto;
		height: 100%;

		.ant-modal-body {
			padding: 20px 44px 0;
		}
	}

	h3 {
		color: $color-text-primary;
		font-style: italic;
		font-size: 23px;
		text-transform: uppercase;
	}

	.home-page__modal__logo {
		width: 36px;
		height: 36px;

		path {
			fill: $color-hot-pink;
		}
	}

	.home-page__modal__title {
		margin: 20px 0 16px 0;
	}

	.home-page__modal__des {
		font-size: 12px;
		margin: 20px 0 30px 0;

		a {
			text-decoration: underline;
			color: $color-text-secondary;
			font-weight: 600;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.home-page__modal__btns {
		button:not(:last-child) {
			position: relative;
			width: 100%;
			border: 2px solid $color-text-secondary;
			padding: 0 48px;
			margin-bottom: 20px;
			border-radius: 100px;
			text-transform: uppercase;
			background-color: #fff;
			font-size: 15px;
			font-weight: 600;
			letter-spacing: 1px;
			color: $color-text-secondary;
			line-height: 50px;
			transition: all 0.2s ease;

			img,
			svg {
				width: 24px;
				height: 24px;
				position: absolute;
				left: 16px;
				top: 50%;
				transform: translateY(-50%);
				transition: all 0.2s ease;
			}

			svg {
				color: $color-text-secondary;
			}
		}

		button:not(:last-child):hover {
			border-color: $color-text-primary;

			svg {
				color: $color-text-primary;
			}
		}

		button:last-child {
			text-decoration: underline;
			color: $color-text-secondary;
			background-color: transparent;
		}
	}

	.home-page__modal__app {
		margin-top: 24px;
		border-top: 1px solid $color-divider-primary;

		h3 {
			margin: 24px 0 12px 0;
		}

		div {
			display: flex;
			align-items: center;
			justify-content: center;

			a:first-child {
				padding: 8px 16px;

				img {
					object-fit: contain;
					height: 48px;
				}
			}

			a:last-child {
				img {
					object-fit: contain;
					width: 176px;
					height: 80px;
				}
			}
		}
	}
}
