.slick-slider {
	.slick-track {
		display: flex;

		.slick-slide {
			padding: 0 8px;
			height: unset;

			& > div {
				height: 100%;
			}
		}
	}
}

.login-modal {
	.ant-modal-content {
		width: 440px;
	}
}
