:root {
	--color-bg-secondary: #f0f2f4;
	--color-blue-50: #1786ff;
	--color-gray-15: #e9ebee;
	--color-red-60: #c62c1e;
	--color-hover: #d6002f;
	--color-coral: #ff6036;
	--color-boost: #9908e8;
	--color-star: #106bd5;
	--color-brand-pink: #ff4458;
	--color-hot-pink: #fd267a;
	--color-divider-primary: #d4d8de;
	--color-text-primary: #21262e;
	--color-text-secondary: #505965;
}

@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-size: 15px;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

*:active, *:focus {
	outline: none;
}

a {
	display: inline-block;
}

a:hover {
	color: unset;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.firebase-emulator-warning {
	display: none;
}
