$color-divider-primary: #d4d8de;
$color-brand-pink: #ff4458;

.home-page {
	.slick-slider {
		.slick-track {
			display: flex;

			.slick-slide {
				padding: 0 8px;
				height: unset;

				& > div {
					height: 100%;
				}
			}
		}
	}
}

.ant-modal-root {
	.ant-modal-mask {
		background-color: rgba(0, 0, 0, 0.7);
	}

	.ant-modal-wrap {
		display: flex;
		align-items: center;

		.ant-modal {
			text-align: center;
			top: 0;
			padding-bottom: 0;

			.ant-modal-content {
				margin: auto;
				height: 100%;
				border-radius: 8px;

				.ant-modal-close {
					cursor: default;
					color: $color-divider-primary;
				}

				.ant-modal-close:hover {
					color: $color-divider-primary;
				}

				.ant-modal-body {
					padding: 0;
				}
			}
		}

		.login-modal {
			.ant-modal-content {
				width: 440px;
			}
		}

		.promo-modal {
			.ant-modal-content {
				width: 440px;
			}
		}

		.delete-modal {
			.ant-modal-content {
				width: 392px;
			}
		}

		.logout-modal {
			.ant-modal-content {
				width: 392px;
			}
		}
	}
}

.ant-slider {
	width: 100%;
	cursor: default;
	margin-top: 0;
	margin-bottom: 24px;

	.ant-slider-track {
		background-color: $color-brand-pink;
	}

	.ant-slider-handle {
		cursor: grab;
		width: 28px;
		height: 28px;
		margin-top: -12px;
		border-color: $color-brand-pink;
	}
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
	border-color: $color-brand-pink;
}

.ant-switch {
	width: 50px;
	height: 30px;

	.ant-switch-handle {
		width: 26px;
		height: 26px;
		transition-duration: 0.1s;
	}

	.ant-switch-handle::before {
		border-radius: 50%;
	}
}

.ant-switch-checked {
	background-color: $color-brand-pink;

	.ant-switch-handle {
		left: calc(100% - 26px - 2px);
	}
}
