$color-divider-primary: #d4d8de;

.ant-modal-root {
	.ant-modal-mask {
		background-color: rgba(0, 0, 0, 0.7);
	}

	.ant-modal-wrap {
		display:flex ;
		align-items: center;
		
		.ant-modal {
			text-align: center;
			top: 0;
			padding-bottom: 0;

			.ant-modal-content {
				width: 440px;
				margin: auto;
				height: 100%;
				border-radius: 8px;

				.ant-modal-close {
					cursor: default;
					color: $color-divider-primary;

					svg {
						width: 30px;
						height: 30px;
						cursor: pointer;
						transition: transform 0.1s ease-in;
					}

					svg:hover {
						transform: rotate(-90deg);
					}
				}

				.ant-modal-close:hover {
					color: $color-divider-primary;
				}

				.ant-modal-body {
					padding: 20px 44px 0;
				}
			}
		}
	}
}
